/*Basic element styles*/
* {
	box-sizing: border-box;
	color: white;
	text-decoration: none;
	font-size: 14px;
	margin:0px;
	font-family:Tahoma;
}
b {
	color:inherit;
}
body {
	margin:0px;
}
footer {
	width:100%;
	margin:0;
	position:absolute;
	bottom:3px;
}
footer p {
	width:80px;
	font-size: 7px;
	margin:0 auto;
}
h1 {
	font-size:32px;
}
html{
	height:100%;
	width:100%;
	background:#153547;
}
img {
	border: none; vertical-align: middle;
}
label {
	color:inherit;
}
/*Basic element container styles*/
form textarea , form input[type="text"]{
	color:#000;
}
/*Basic element interaction styles*/
a:link {

}
a:visited {

}
/*Id styles*/
#animtag {
	position: absolute;
	font-size: 10px;
	font-family:times-new-roman;
	padding:0 5px 0 5px;
	top: 10%;
	left:0;
	display: inline-block;
	background:#2c6c8e;
	border:#FFF 1px solid;
}
#audiopl {
	width:100%;
	z-index:1;
	opacity: .75;
	position: absolute;
	bottom: 0px;
}
#content {
	margin-left: 20px;
	margin-right:10px;
	margin-bottom:20px;
	float: left;
	max-width: 85%;
	display:inline-block;
	position:absolute;
	left:205px;
}
#controls{
	width:100%;
	background:#153547;
	padding:2px 4px 2px 4px;
	border-top:#2c6c8e 2px solid;
	border-bottom:#2c6c8e 2px solid;
}
#flash {
	margin-bottom:36px;
}
#header {
	margin-bottom: 20px;
	text-align:center;
}
#image {
	max-height:100%;
	max-width:100%;
	margin-bottom:36px;
}
#mp3wrapper {
	max-width:50%;
	position:relative;
	border:#2c6c8e solid;
	border-width: 0px 1px 1px 1px;
	margin-bottom:20px;
}
#nametext {
	background:#102835;
	border-bottom:#2c6c8e 1px solid;
	border-top:#2c6c8e 1px solid;
	padding-left:6px;
	word-wrap: break-word;
}
#navbar {
	padding:4px;
	background-color:#102835;
	text-align:center;
	border-top:#0d222d thin solid;
	border-bottom:#0d222d thin solid;
}
#pages {
	position: relative;
	left: 50%;
	bottom: 12px;
	transform:translate(-50%,0);
	display: inline-block;
	margin: 12px 0px 12px 0px;
}
#pagesid {
	display:inline;
	background:#102835;
	padding:0 10px;
	border:#0d222d 1px solid;
	border-radius: 5px;
	margin: 2px
}
#poolcontent {
	position:relative;
	top:36px;
	background:#102835;
	padding:20px 10px;
}
#poolnav {
	text-align:center;
	width:100%;
	background:#153547;
	border-bottom:#2c6c8e 2px solid;
	border-top:#2c6c8e 2px solid;
	padding-bottom:8px;
	margin-bottom:8px;
}
#poolview {
	margin-top:26px;
	margin-bottom:50px;
}
#searchbox {
	background-color: #CCC;
	color:#000;
	margin: 4px;
	border:#2c6c8e 2px solid;
	padding-left:3px;
	max-width:95%;
}
#sidebar {
	width: 205px;
	float: left;
	margin-left:2px;
	background-color:#102835;
	word-wrap: break-word;
	padding:2px;
	border:#2c6c8e thin double;
}
#textwrapper {
	position: fixed;
	min-width:5%;
	max-width:80%;
	min-height:20%;
	max-height:88%;
	overflow-y:scroll;
	white-space:pre-wrap;
	margin-right:20px;
	padding:0 20px 0 12px;
	background:#102835;
	border:#0d222d 2px solid;
}
#thumbcon {
	max-height:190px;
	width:150px;
	display: inline-block;
	text-align:center;
	vertical-align: top;
	margin: 0 5px 20px 5px;
	position:relative;
}
#thumbs {
	display: inline-block;
	clear: both;
}
#title {
	text-align:center;
}
/*Id container styles*/
#audioim {
	max-height:100%;
	max-width:100%;
	z-index:2;
}
#index-container > *{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	max-width:90%;
	max-height:90%;
	margin:0 auto;
	z-index:1;
}
#poolnav   b{
	color:#2c6c8e;
}
/*Id interaction styles*/
#poolnav  b:hover {
	color:#3787b2;
}
/*Class styles*/
.basic-table {
	background:#0d202b;
	width:40%;
	border: #0d222d 1px solid;
	padding:2px 0;
	border-spacing:0;
	border-radius:5px;
	display:block;
	position:absolute;
	left:50%;
	transform:translate(-50%,0);
}
.bbar{
	width: 100%;
	background:#102835 ;
	height:64px;
	opacity: .75;
	position: absolute;
	top: 40%;
	z-index:2;
}
.centerblock{
	height:28px;
	margin:18px auto;
	text-align:center;
}
.droplist {
	margin: 2px 0px 2px 6px;
	width:60%;
}
.hanger{
	width:100%;
	height:36px;
	background:#102835;
	margin:0px auto 20px;
	position:relative;
	z-index:2;
}
.thumb {
	max-height: 190px;
	max-width: 150px;
	display: inline-block;
	text-align:center;
	vertical-align: middle;

}
/*Class container styles*/
.basic-table tbody {
	background:#102835;
}
.hanger > span {
	position:absolute;
	left:50%;
	transform:translate(-50%,-0%);
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.thumb > #bar{
	background:#2c6c8e;
}
.thumb img {
	max-height:150px;
	max-width:150px;
}
/*Class interaction styles*/
.basic-table tbody tr:nth-child(odd) > td {
	background:#153547;
}
#descbox{
	white-space:pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	margin-right:20px;
	margin-bottom:20px;
	padding:10px 20px 10px 12px;
	background:#102835;
	border:#0d222d 2px solid;
	width:100%;
}